<nav *ngIf="authService.isAuthenticated" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My App</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]="isMenuCollapsed" class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/announcement" routerLinkActive="active">Announcement List</a>
        </li>
        @if (authService.isAuthenticated() && currentUser?.role === 'SENDER') {
        <li class="nav-item">
          <a class="nav-link" routerLink="/requestlist" routerLinkActive="active">My Requests</a>
        </li>
        }

        @if (authService.isAuthenticated() && currentUser?.role === 'ADMIN') {
          <a mat-button [matMenuTriggerFor]="dashboard">Tableau de bord</a>
          <mat-menu #dashboard="matMenu" class="vertical-menu">
            <button mat-menu-item routerLink="/users" routerLinkActive="active">
              <span>Utilisateurs</span>
            </button>
            <button mat-menu-item routerLink="/requestlist" routerLinkActive="active">
              <span>Requests</span>
            </button>
          </mat-menu>
        }
      </ul>
      <div class="d-flex">
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
