<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>User Management</h2>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="currentRole">
        <th mat-header-cell *matHeaderCellDef>Current Role</th>
        <td mat-cell *matCellDef="let user">{{ user.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="statusMenu" class="status-menu-button">
                <mat-icon>swap_vert</mat-icon>
              </button>
            <mat-menu #statusMenu="matMenu">
              <button mat-menu-item
                      *ngFor="let roles of roleOptions"
                      (click)="updateStatus(user.id, roles)">
                <span>{{roles}}</span>
              </button>
            </mat-menu>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
